# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [9]:
import numpy as np

2. Create a null vector of size 10

In [2]:
np.zeros(10, dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

3. Create a vector with values ranging from 10 to 49

In [3]:
arr = np.array(range(10,50))

4. Find the shape of previous array in question 3

In [4]:
arr.shape

(40,)

5. Print the type of the previous array in question 3

In [5]:
type(arr)

numpy.ndarray

6. Print the numpy version and the configuration

In [6]:
print(np.__version__)
print(np.show_config)

1.19.2
<function show at 0x7f6bf864ff70>

7. Print the dimension of the array in question 3

In [7]:
arr.ndim

1

8. Create a boolean array with all the True values

In [8]:
arr2 = np.array([2,3,4], dtype=bool)
arr2

array([ True,  True,  True])

9. Create a two dimensional array

In [9]:
arr3 = np.array([[12,3,24],[23,26,25]])
arr3.ndim

2

10. Create a three dimensional array

In [10]:
arr5 = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
arr5.ndim

3

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [11]:
vc = np.array([1,2,3,4])
vc[::-1]

array([4, 3, 2, 1])

12. Create a null vector of size 10 but the fifth value which is 1

In [12]:
arrr = np.zeros(10)
arrr[4] = 1
arrr

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [13]:
ar = np.identity(3, dtype=int)
ar

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [14]:
arrr1 = np.array([1,2,3,4,5])
arrr1 = arrr1.astype('float')
arrr1.dtype

dtype('float64')

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [15]:
pc = np.array([[1., 2., 3.],[4., 5., 6.]])
pc2 = np.array([[0., 4., 1.],[7., 2., 12.]])
pc*pc2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [16]:
pc3 = np.array([[1., 2., 3.],[4., 5., 6.]])
pc4 = np.array([[0., 4., 1.],[7., 2., 12.]])
pc5 = pc3 == pc4
pc5

array([[False, False, False],
       [False, False, False]])

17. Extract all odd numbers from arr with values(0-9)

In [17]:
ec = np.array(range(0,9))
ec[ec%2 == 1]

array([1, 3, 5, 7])

18. Replace all odd numbers to -1 from previous array

In [18]:
ec2 = np.array(range(0,9))
ec2[ec2%2 == 1] = -1
ec2

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [19]:
er = np.arange(10)
er[5:9] = 12
er

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [93]:
nd = n.ones((10,10),dtype=int)
nd[1:-1,1:-1] = 0
nd

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [106]:
arr2d = np.array([[1, 2, 3],
                  [4, 5, 6], 
                  [7, 8, 9]])
arr2d[1][1] = 12 
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [133]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0][0][0:3] = 64
arr3d

array([[[64, 64, 64],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [139]:
ar2d = np.array([[0,1,2,3,4],[5,6,7,8,9]])
ar2d[0:1, 0:]

array([[0, 1, 2, 3, 4]])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [28]:
arr2d = np.array([[0,1,2,3,4],[5,6,7,8,9]])
arr2d[0:1, 0:]

array([[0, 1, 2, 3, 4]])

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [34]:
a2d = np.array([[0,1,2],[3,4,5],[6,7,8]])
a2d[0:2 , 2: ]

array([[2],
       [5]])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [43]:
rand = np.random.randint(0, 200,(10,10))
print(rand.max())
print(rand.min())

199
0

arr2d = np.array([0,1,2,3,4],[5,6,7,8,9])27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [45]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.intersect1d(a,b))

[2 4]

b = np.array([7,2,10,2,7,4,9,4,9,8])28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [46]:
a1 = np.array([1,2,3,2,3,4,3,4,5,6])
b1 = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.where(np.intersect1d(a1,b1)))

(array([0, 1]),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [147]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
f_names = names != "Will"
names[f_names]

array(['Bob', 'Joe', 'Bob', 'Joe', 'Joe'], dtype='<U4')

---
array
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [176]:
new_names = names[f_names]
s = new_names != "Joe"
new_names[s]

array(['Bob', 'Bob'], dtype='<U4')

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [10]:
two_dim_array = np.random.randint(1,15,(5,3))
two_dim_array

array([[ 4,  9, 13],
       [12,  4, 14],
       [11, 10,  7],
       [ 4,  7,  1],
       [ 6, 12,  8]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [12]:
array = np.random.randint(1,6,(2,2,4))
array

array([[[5, 1, 3, 2],
        [1, 1, 2, 5]],

       [[4, 1, 4, 5],
        [1, 1, 1, 4]]])

33. Swap axes of the array you created in Question 32

In [18]:
array[[1, 0],:] = array[[0, 1],:]
array[[0, 1],:] = array[[1, 0],:]
array

array([[[4, 1, 4, 5],
        [1, 1, 1, 4]],

       [[5, 1, 3, 2],
        [1, 1, 2, 5]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [49]:
array = np.random.random(10)
min_array = array < 0.5 
print("array before")
print(array[min_array])
array[min_array] = 0
print("array_after")
array[min_array]

array before
[0.28415076 0.25842658 0.12909945 0.19290037]
array_after

array([0., 0., 0., 0.])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [69]:
array1 = np.random.randint(1,12,(1,12))
array2 = np.random.randint(1,12,(1,12))
print(array1)
print(array2)
result = np.maximum(array2,array1)
print(result)

[[3 9 7 2 3 2 6 7 8 2 3 1]]
[[11  1  3  2  9  7  9  6  8  8  7  7]]
[[11  9  7  2  9  7  9  7  8  8  7  7]]

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [72]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
s = np.unique(names)
np.sort(s)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [78]:
a = np.array([1,2,3,4,5]) 
b = np.array([5,6,7,8,9])
np.intersect1d(a,b)

array([5])

b = np.array([7,2,10,2,7,4,9,4,9,8])38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [83]:
s = np.array([[34,43,73],[82,22,12],[53,94,66]])
s[:,1:2] = 10
s

array([[34, 10, 73],
       [82, 10, 12],
       [53, 10, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [84]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])
np.dot(x,y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [85]:
a = np.random.randint(1,20,(3,3))
print(a)
r = np.cumsum(a)
print(r)

[[ 8 14 16]
 [13  3 15]
 [ 3 11 15]]
[ 8 22 38 51 54 69 72 83 98]